.products {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 90px);
  width: calc(100% - 250px);
  margin-left: auto;
}

.products_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 80px;

  &__selector {
    & select {
      width: 200px;
      padding: 10px;
      border: none;
      border-radius: 10px;
      margin-left: 20px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }
}

.products_count {
  margin-right: 40px;
  font-size: 35px;

  &__plus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid greenyellow;
    background-color: green;
    margin-right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
}

.products_items {
  margin-top: 50px;
  width: 90%;
}
